* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.6;
}
.row {
  box-shadow: 5px 5px 5px rgb(175, 166, 166);
  border: 1px solid rgb(218, 218, 218);
  margin: 30px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80vh;
  min-height: 20vh;
  max-height: 20vh;
}
.row div {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
  min-width: initial;
  margin: 10px 0;
}
.row :hover {
  background-color: rgb(187, 184, 184);
}
div {
  padding: 5px 0;
}
.title {
  display: flex;
  width: 50%;
  padding: 0 5px;
  font-size: 2.7vh;
}
.price {
  width: 15%;
  padding: 0 5px;
}
.quantity {
  width: 10%;
  padding: 0 5px;
}
.buttonDelete {
  padding: 0 20px;
  button {
    width: 70px;
    height: 25px;
    background-color: rgb(37, 63, 209);
    border: 2px solid rgb(65, 57, 57);
    border-radius: 5px 5px 5px;
    color: white;
  }
}
.completed {
  text-decoration: line-through;
  color: rgb(175, 166, 166);
  padding: 10px 0;
  .total {
    color: rgb(37, 18, 143);

    color: inherit;
  }
}
